<h2>Summary:</h2><br/>
<% @tags_count.each do |tag, count| %>
  <%= tag %>: <%= link_to count, scrape_path(url: params[:url], tag: tag) %><br/>
<% end %>

<h1>Page Source:</h1><br/>
<pre><code id="source_code"><%= @page_source %></code></pre>

<%= javascript_tag do %>
  $(function(){
    var myHilitor = new Hilitor("source_code");
    myHilitor.apply("<%=params[:tag]%>");
  });
<% end %>